.Rproj.user
.Rhistory
.RData
.Ruserdata
OSLOM2
sims
cb-signi
binary_networks
sims2
sims-results
sim_res_dir.txt
time_seed.dat
mutual3
._OSLOM2
my_binary_networks.zip
._clustering_programs_5_2
clustering_programs_5_2
data_sets
modbp
data_sets.zip
polblogs_res.png
2010_reslimit_free_potts_ring.png
applications-results
fenn.png
hierarchical_adj.png
ring.png
test_net_res.png
mesh.png
test_net0.dat
test_net_membership.dat
Gring.png
Gring.pdf
Gring.graphml
Gmesh.png
Gmesh.pdf
Gmesh.graphml
test_net.dat
test_net_gtMemship.dat
2vs3.png
2vs3.gml
2vs3_adj.png
